:root {
    --purple: #737E95;
    --sea-green: #71BA9C;
    --cream: #CBD8AA;
    --pumpkin: #AF8F34;
    --orange: #CB452D;
}

#chat-room {
    width: 640px;
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
}

#chat-messages {
    min-height: 100%;
}

#chat-controls {
    width: 640px;
    padding-top: 1em;
    max-width: 100%;
}

#room-title {
    width: 640px;
    max-width: 100%;
    color: var(--cream);
}

.badge-pill {
    background-color: var(--sea-green);
    color: var(--orange);
}

#join button {
    font-size: 100%
}