#chat-room {
    width: 640px;
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
}

#chat-messages {
    min-height: 100%;
}

#chat-controls {
    width: 640px;
    padding-top: 1em;
    max-width: 100%;
}

#room-title {
    width: 640px;
    padding-top: 1em;
    max-width: 100%;
}