<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.bundle.js"></script>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/js/app.js"></script>

</head>
<body>
<div id="lobby">
    <div id="join">
        <label>Room Code: <input id="code" type="text" pattern="[A-Za-z]{4}"></label>
        <button id="join-room" onclick="joinRoom()">Join Existing Room</button>
    </div>

    <button onclick="createRoom()">Create Room</button>
</div>
<div class="container" id="room" style="display: none">
    <input type="hidden" id="room-id">
    <h3 id="room-title"></h3>
    <div id="chat-room" class="border border-primary"></div>
    <div id="chat-controls">
        <label>Message: <input type="text" id="message"></label>
        <button id="send-message" onclick="sendMessage()">Send</button>
    </div>
</div>

</body>
</html>