<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
<form method="POST" action="/message/add">
    <label> Message: <input type="text" name="message" id="message"></label>
    <input type="button" onclick="sendMessage()" value="Send">
</form>
<div id="chat">

</div>
<script>

    function sendMsg() {
        // TODO: change to WebSockets
        $.ajax({
            url: "/message/add",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ "message" : $("#message").val()}),
            success: function () {
                console.log("works");
                $("#message").val("");
            }
        });
    }

</script>
</body>
</html>